<div>
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div>
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div>
  <div class="col-xs-12">
    <div class="btn-group">
      <button
      type="button"
      class="btn btn-primary dropdown-toggle"> Manage recipe
      <span class="caret"></span>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
        
      </button>
    </div>
  </div>
</div>

<div>
    <div class="col-xs-12">
      <h3>Description of recipe</h3>
    </div>
</div>

<div>
    <div class="col-xs-12">
      <h2>Ingredients</h2>
    </div>
</div>